<IfModule mod_rewrite.c>
    RewriteEngine On

    # If a file or folder exists, serve it directly
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Otherwise, send to index.php
    RewriteRule ^ index.php [QSA,L]
</IfModule>
